#information {
  position: absolute;
  left: 0;
  width: 560px;
  height: 390px;
  min-width: 500px;
  padding: 5px 50px 45px 45px;
  line-height: 300%;
  background-color: rgba(255, 255, 255, 0.900);
}

#information h1 {
  margin-top: 60px;
}

#information input{
    margin: 5px 5px 5px 0;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    display: block;
    background-color: #f6f6f6;
}

.input-container img{
    position: absolute;
    top: 185px;
    right: 55px;
    width: 25px;
    height: 25px;
    z-index: 10;
}

.sign-to-drive {
  width: 190px;
  color: white;
  font-weight: 600;
  margin-top: 36px;
  padding: 0 25px 0 25px;
  background-color: black;

  &:hover {
    background-color: $light-black;
    transition: 1s;
  }
}

.schedule-later {
    float: right;
    width: 190px;
    @extend .sign-to-drive;
  border: none;
  color: black;
  background-color: #eeeeee;
  &:hover {
    background-color: #d3d3d3;
  }
}

#information .learn-more {
  width: 273px;
  height: 40px;
  margin-top: 12px;
  line-height: 150%;
  @extend .public_article_underline;
  &::after {
    margin: 1px 0;
    width: 272px;
  }
  &:hover {
    &::after {
      width: 272px;
    }
  }
}

#information .learn-more-pro {
  width: 286px;
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid $light-grey;
  &:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}

.sign-to-carrier {
  width: 152px;
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid $light-grey;
  &:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}

@media only screen and (min-width: $medium-screen) {
  #information {
    top: 240px;
    left: 10%;
  }
}

@media only screen and (max-width: $medium-screen) {
  #information {
    top: 163px;
    height: 390px;
    width: 100%;
  }

}

@media only screen and (max-width: $small-screen) {
  #information {
    top: 160px;
    height: 380px;
  }
}

@media only screen and (max-width: $extra-small-screen) {
    #information {
      top: 160px;
      height: 420px;
    }
  }
  