#sign-up {
  position: relative;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  max-width: 1120px;
  border-top: 3px solid rgba(128, 128, 128, 0.1);
}

#sign-up-block h1 {
  position: relative;
  top: 40px;
  font-size: 32px;
  width: 380px;
  margin: 20px;
  min-width: 300px;
  cursor: pointer;

  &::after {
    @extend .article_underline;
    padding: 10px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
  }

  &:hover {
    color: grey;
  }
}

@keyframes arrow-move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(40px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(40px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

#sign-up-block img {
  float: right;
  width: auto;
  height: 62px;
  padding: 0 0 14px 30px;
  z-index: 5;

  &:hover {
    animation-name: arrow-move;
    animation-duration: 1.2s;
    z-index: 5;
  }
}

@media (min-width: $small-screen) {
  #sign-up {
    max-width: 1200px;
  }

  #sign-up-block h1 {
    width: 95%;
  }
}

@media only screen and (max-width: $small-screen) {
  #sign-up {
    height: 320px;
    margin-left: 30px auto;
  }

  #sign-up-block {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #sign-up-block h1 {
    width: 90%;
  }
}
