@import "./general.scss";

#sign-up {
  position: relative;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  max-width: 1120px;
  border-top: 3px solid rgba(128, 128, 128, 0.1);
}


.sign_up_after{
  @extend .articleUnderline;
  padding: 10px 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 100%;
}

#sign-up-block h1 {
  position: relative;
  top: 40px;
  font-size: 32px;
  width: 380px;
  margin: 20px;
  min-width: 300px;
  cursor: pointer;
  
  &::after {
    @extend .sign_up_after;
  }

  &:hover {
    color: grey;
  }
}

#sign-up-block img {
  float: right;
  width: auto;
  height: 50px;
  padding: 10px 0px 10px 40px;
  margin-bottom: 10px;
  z-index: 10;

  &:hover {
    transition: 0.4s;
    transform: translate(15px);
  }
}

@media (min-width: $small-screen) {
  #sign-up {
    max-width: 1200px;
  }

  #sign-up-block h1{
    width: 95%;
  }
}

@media only screen and (max-width: $small-screen) {
  #sign-up {
    height: 320px;
    margin-left: 30px auto;
  }

  #sign-up-block {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #sign-up-block h1 {
    width: 90%;
  }
}