@import "./general.scss";

#sign-up {
  position: relative;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  max-width: 1120px;
  border-top: 3px solid rgba(128, 128, 128, 0.1);
}

#sign-up-block h1 {
  font-size: 32px;
  position: relative;
  top: 40px;
  width: 380px;
  margin: 20px;
  min-width: 300px;
  cursor: pointer;
  // border: 2px solid green;

  &::after {
    @extend .articleUnderline;
    padding: 10px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
  }
  &:hover {
    &::after {
      @extend .articleUnderline;
      padding: 10px 0;
      border-bottom: 1px solid rgb(0, 0, 0);
      width: 100%;
    }
  }
}

#sign-up-block h1:hover {
  color: grey;
}

#sign-up-block img {
  width: auto;
  float: right;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 40px;
  z-index: 10;
  // border: 2px solid rebeccapurple;
}


#sign-up-block img:hover{
  transition: .4s;
  transform: translate(15px);
}

@media (min-width: 768px) {
  #sign-up {
    max-width: 1120px;
  }
}

@media only screen and (max-width: 750px) {
  
  #sign-up {
    margin-left: 30px auto;
    max-width: 1000px;
    height: 320px;
  }

  #sign-up-block {
    flex: 0 0 100%;
    max-width: 100%;
    // border: 2px solid salmon;
  }
  #sign-up-block h1{
    width: 90%;
    // border: 2px solid salmon;
  }
}

@media only screen and (max-width: $small-screen) {
  // #sign-up {
  //   margin-left: 30px auto;
  //   max-width: 1000px;
  //   height: 320px;
  // }
}
