@import './general.scss';

#banner{
    height: 700px;
    background-color: white;
}

.banner-background{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-table-container{
    overflow:hidden;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    max-width: 960px;
    top: 80px;
    left: 0;
    width: 100%;
    border: 2px solid white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.103) ;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}


#banner .banner_unit{
    width: 120px;
    height: 130px;
    object-fit:cover;
    background-color: white;
    position: relative;
    z-index: 10;
    // border: 1px solid green;

}

#banner .banner_unit .title{
    position: relative;
    font-weight: 600;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#banner .banner_unit img{
    position: relative;
    top: 34px;
    left: 50%;
    width:24px;
    height: auto;
    // border: 1px solid green;
    transform: translateX(-50%);
}

#banner .banner_unit_pro{
    z-index: 20;
    border-bottom: 11px solid rgb(0, 0, 0);
}

@media only screen and (min-width: $medium-screen) {
    .banner-table-container{
        position: absolute;
        top: 110px;
        left: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: $medium-screen) {
    .banner-table-container{
        width: 18%;
        height: 110px;
    }
    .banner-table-container{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }
    .banner_unit img{
        width:20px;
    }
}

@media only screen and (max-width: $small-screen) {
    #banner{
        height: 600px;
        // background-color: white;
    }

    #banner .banner_unit{
        min-width: 90px;
    }    
    .banner_unit img{
        width:20px;
        height:100px;
    }   
  }

  @media only screen and (max-width: $extra-small-screen ) {
    #banner .banner_unit{
        min-width: 90px;
    }    
  }