
$large-screen : 1200px;
$medium-screen : 992px;
$small-screen : 768px;
$extra-small-screen : 540px;


$background-cream-white:#f6f6f6;

.App{
    position: relative;
    height: 2700px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    min-width: 300px;
    overflow:hidden;

}

ul li{
  list-style-type:none;
}

.articleUnderline{
    content: "";
    display: block;
    margin: 5px 0;
  }

.shared_paragraph{
    &::after {
        @extend .articleUnderline;
        border: .5px solid rgba(0, 0, 0, 0.096);
        width: 92px;
      }
      &:hover {
        &::after {
          @extend .articleUnderline;
          border: .5px solid rgb(0, 0, 0);
          width: 92px;
        }
      }
}

.pointer{
  cursor: pointer;
}