.App{
    position: relative;
    height: 2700px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}


$large-screen : 1200px;
$medium-screen : 992px;
$small-screen : 768px;

