.table-display{
    position: absolute;
    left: 0;
    width: 560px;
    height: 370px;
    padding: 5px 40px 45px 45px;
    line-height: 300%;
    z-index: 0;
    background-color:rgba(255, 255, 255, 0.911);
}

.table-display h1{
    margin-top: 50px;
}

.table-display button{
    color: white;
    font-weight: 600;
    margin-top: 45px;
    padding: 0 25px 0 25px;
    background-color: black;
    &:hover{
        background-color: rgba(0, 0, 0, 0.733);
        transition: 1s;
    }
}

.table-display .learn-more{
    width: 273px;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.719);
    &:hover{
        border-bottom: 1px solid rgb(0, 0, 0); 
    }
}

@media only screen and (min-width: $medium-screen) {
    .table-display{
        top:240px;
        left:10%
    }
}

@media only screen and (max-width: $medium-screen) {
    .table-display{
        top:163px;
        width: 100%;
    }
}

@media only screen and (max-width: $small-screen) {
    .table-display{
        top:160px;
    }
}