#information{
    position: absolute;
    left: 0;
    width: 560px;
    height: 390px;
    min-width: 540px;
    padding: 5px 40px 45px 45px;
    line-height: 300%;
    z-index: 0;
    background-color:rgba(255, 255, 255, 0.911);
}

#information h1{
    margin-top: 50px;
    // overflow: hidden;
}

.sign-to-drive{
    color: white;
    font-weight: 600;
    margin-top: 36px;
    padding: 0 25px 0 25px;
    background-color: black;
    &:hover{
        background-color: rgba(0, 0, 0, 0.733);
        transition: 1s;
    }
}

.schedule-later{
    @extend .sign-to-drive;
    border: none;
    color: black;
    background-color: #eeeeee;
    &:hover{
        background-color: #d3d3d3;
    }
}

#information .learn-more{
    width: 273px;
    height: 40px;
    margin-top: 12px;
    // border: 2px solid greenyellow;
    border-bottom: 1px solid rgba(128, 128, 128, 0.719);
    &:hover{
        border-bottom: 1px solid rgb(0, 0, 0); 
    }
}

#information .learn-more-pro{
    width: 286px;
    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.719);
    &:hover{
        border-bottom: 1px solid rgb(0, 0, 0); 
    }
}

.sign-to-carrier{
    width: 152px;
    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.719);
    &:hover{
        border-bottom: 1px solid rgb(0, 0, 0); 
    } 
}

@media only screen and (min-width: $medium-screen) {
    #information{
        top:240px;
        left:10%
    }
}

@media only screen and (max-width: $medium-screen) {
    #information{
        top:163px;
        height: 350px;
        width: 100%;
    }
}

@media only screen and (max-width: $small-screen) {
    #information{
        top:160px;
        height: 380px;
    }
}