@import "./general.scss";

#motion {
  position: relative;
  height: 600px;
  border-top: 3px solid rgba(128, 128, 128, 0.100);
  background-color: $background-cream-white;
}

#motion h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 20px;
}

#motion .container {
  margin: 0;
//   background-color: cadetblue;
}

#motion img {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  height: 90%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

#motion .view-all-city {
  height: 40px;
  margin-left: 20px;
  
  @extend .public_article_underline;
  &::after {
    width: 92px;
  }
  &:hover {
    &::after {
      width: 92px;
    }
  }
}


@media only screen and (min-width: $medium-screen) {
  #motion img {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: $medium-screen) {
  
#motion {
  position: relative;
  height: 520px;
  // background-color: #f6f6f6;
}
  #motion h1 {
    font-size: 45px;
  }  
    #motion img {
        height: 85%;
        width: 100%;
        // border: 1px solid saddlebrown;
      }
}

@media only screen and (max-width: $small-screen) {
  #motion {
    position: relative;
    height: 420px;
    // background-color: #f6f6f6;
  }
  #motion h1 {
    font-size: 40px;
  }  
  #motion img {
    height: 65%;
    width: 100%;
    // border: 1px solid saddlebrown;
  }
}
