@import "./general.scss";

#navigation {
  position: relative;
  height: 60px;
  top: 0;
  padding: 10px 10px 10px 20px;
  background-color: black;
  text-align: center;
  z-index: 10;
}


#navigation .navbar-brand {
  font-size: 20px;
  font-weight: 800;
}


#navigation button {
    float: right;
}

#navigation li {
  font-weight: 600;
  color: white;
  width: 100px;
  &:hover {
    cursor: pointer;
  }
}

#navigation button{
  padding: 0;
}

#navigation img {
  width: 30px;
  object-fit: cover;
}

#navigation .login {
  position: absolute;
  top: 18px;
  right: 20px;
  height: 30px;
  width: 220px;
  overflow: hidden;
}

#navigation .login li {
    display: inline;
}

#navigation .login li:nth-child(2) {
  color: black;
  background-color: white;
}

@media only screen and (max-width: $small-screen) {
  #navigation .login {
    right: 50px;
  }
}

@media only screen and (max-width: $extra-small-screen) {
  #navigation .login {
    right: 50px;
  }
}
