@import './general.scss';

#navigation{
    padding: 10px 10px 10px 20px;    
    background-color: black;
    text-align: center;
}
#navigation button{
    float: right;
}
#navigation .navbar-brand{
    font-size: 20px;
    font-weight: 800;
}
#navigation li{
    font-weight: 600;
    color: white;
    width: 90px;
    // border: 1px solid yellow;
    &:hover{
        // color: rgba(189, 189, 189, 0.034);
        // z-index: 11;
    }
}

#navigation img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.logging-area{
    // border: 2px solid red;
}

#navigation .login{
    margin:5px;
    height: 30px;
    width: 220px;
    overflow: hidden;
    z-index: 10;
    // border: 2px solid red;
}

#navigation .login li{
    display: inline;
    // border: 2px solid blue;
}

#navigation .login li:nth-child(2){
    color: black;
    background-color: white;
}



@media only screen and (max-width: $small-screen) {
    #navigation .login li{
        display: inline;
    }    
    .logging-area{
    margin-right: -50%;
}
}

@media only screen and (max-width: $extra-small-screen) {
    .logging-area{
        margin-right: -20%;}
}
