@import "./general.scss";

#safety {
  position: relative;
  height: 400px;
  background-color: rgba(100, 148, 237, 0.13);
}

#safety .container {
  position: relative;
  max-width: 1200px;
}

#safety .row > div {
  padding: 30px;
}

#safety h1{
    margin: 30px 0 20px 0;
}

#safety img {
  position: absolute;
  bottom: 5px;
  margin-bottom: 0;
  width: 80%;
  object-fit: cover;
  z-index: -1;
}

#safety article p:nth-child(1){
    font-size: 16px;
    margin-bottom: 40px;
}

#safety article p:nth-child(2){
    &::after {
        @extend .articleUnderline;
        border: .5px solid rgba(184, 153, 153, 0.219);
        width: 307px;
      }
      &:hover {
        &::after {
          @extend .articleUnderline;
          border: .5px solid rgb(0, 0, 0);
          width: 307px;
        }
      }
}

#safety article p:nth-child(3){
    &::after {
        @extend .articleUnderline;
        border: .5px solid rgba(184, 153, 153, 0.219);
        width: 153px;
      }
      &:hover {
        &::after {
          @extend .articleUnderline;
          border: .5px solid rgb(0, 0, 0);
          width: 153px;
        }
      }
}

@media only screen and (min-width: $medium-screen) {
}

@media only screen and (max-width: $medium-screen) {
    #safety {
        height: 450px;
      }

    #safety img {
        bottom: 40px;
    width: 90%;
  }
}

@media only screen and (max-width: $small-screen) {
    #safety {
        height: 580px;
      }

    #safety .container {
        height: 580px;
  }
  #safety .second-column {
    position: absolute;
    bottom: 0;
  }
}
