@import "./general.scss";

#sign-up {
  height: 220px;
  padding: 40px 10px 40px 10px;
  // border: 3px solid blueviolet;
}

#sign-up .container {
  width: 100%;
  margin-left: 30px;
}

@media (min-width: 768px) {
  #sign-up .container {
    max-width: 920px;
  }
}

#sign-up-block {
  padding-left: 30px;
  &::after {
    @extend .articleUnderline;
    margin: 25px 0;
    border: 0.7px solid rgba(0, 0, 0, 0.219);
    width: 277px;
  }
  &:hover {
    &::after {
      @extend .articleUnderline;
      border: 0.7px solid rgb(0, 0, 0);
      margin: 25px 0;
      width: 277px;
    }
}
}

#sign-up-block h1:hover{
  color: blue;
}

@media only screen and (min-width: $small-screen) {
  #sign-up {
    height: 160px;
  }
}

